// app/assets/stylesheets/home_page.scss

/* app/assets/stylesheets/home_page.scss or _footer.scss */

/* app/assets/stylesheets/home_page.scss */

/* app/assets/stylesheets/home_page.scss */

:root {
  --color-primary: hsl(310, 100%, 65%);
  --color-secondary: hsl(160, 100%, 65%);
  --background: hsl(230, 30%, 15%);
  --text: hsl(310, 100%, 95%);
}

::selection {
  background-color: var(--color-primary);
  color: var(--background);
  -webkit-text-fill-color: var(--background);
}

html, body{
  background-color: #f97093;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

h5{
  font-family: "Jaro", sans-serif;
}

.rhythm-rascal-heading {
  font-family: $special-font;
  color: #05302c;
}

.description-text {
  font-size: 1.3rem; // Increase font size
  line-height: 1.6; // Adjust line spacing
  color: #02756b;
  font-family: "Jaro", sans-serif;
  font-weight: 400; // Slightly heavier font
  margin-bottom: 1.3rem; // Add spacing below the text
  text-align: justify; // Align text
  text-justify: inter-word; // Align text
}
.description-container {
  // padding: 20px;
  background-color: #f7f7f7; // Background color to match the overall theme
  height: 200px;

}

.avatar-display-container {
  padding: 10px;
  background-color: #e0e0e0; // Enhanced background color for separation
  border-radius: 10px; // Optional: Add rounded corners for a softer look
  margin-top: 40px; // Add margin-top for space between the two divs
  transition: background-color 0.3s
}

.avatar-display-container:hover {
  background-color: #f3ecec; // New background color on hover
}

.avatar-container {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s; // Smooth transition for background color
}

// .avatar-image {
//   width: 120px; // Initial image size
//   height: 120px;
//   transition: transform 0.3s, box-shadow 0.3s; // Smooth transition for hover effects
// }

.avatar-container:hover .avatar-image {
  transform: scale(1.1); // Slightly increase the size
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); // Add box shadow on hover
}

.avatar-container h5 {
  transition: color 0.3s; // Smooth transition for text color
}

.avatar-container:hover h5 {
  color: #4682f2; // Change text color on hover
}

.how-to-play-content{
  display: grid;
	background-color: hsl(230, 30%, 15%);
	color: #274dff;
}

#popup-heading{
  margin: auto;
	letter-spacing: 0.0015em;
	font-size: 5em;
	text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
		-2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
		-4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
		-6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
	text-align: center;
}

#popup-text{

  margin-left: 0;
  padding: 1rem 0 1rem 2rem;
  font-size: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    35deg,
    var(--color-primary),
    var(--color-secondary)
  );
}
