<!-- app/views/shared/_footer.html.erb -->
<footer class="footer-light-skyblue">
  <div class="container">
    <ul class="social-icons">
      <li>
        <a href="#">
          <i class="fab fa-facebook-f icon"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-twitter icon"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-linkedin-in icon"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-google-plus-g icon"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
