<% sounds = @avatar.sounds.map { |sound| url_for(sound.file_path)} %>
<div data-controller="audio" data-audio-urls-value="<%= sounds.to_json%>">


<div class="container">
  <div class="row">
    <button data-action="click->audio#playAll">Start</button>
    <% sounds = @avatar.sounds %>
    <% sounds.each_with_index do |sound, index| %>
      <div class="col-md-3">
        <p><%= sound.type_of_sound %></p>
        <button data-index="<%= index%>" data-action="click->audio#unmute">
          <%= image_tag @avatar.image_url, class: "img-fluid rounded-circle avatar-image" %>
        </button>
      </div>
    <% end %>

  </div>
</div>


