
<div class="avatars" data-controller="audio">
    <% 2.times do |i| %>
      <div data-target="audioAvatar" class="avatar">
        <img src="/assets/image<%= i + 1 %>.jpg" alt="Avatar" data-action="click->audio#play<%= i + 1 %>">
      </div>
    <% end %>

    <button data-action="click->audio#startTransport">Start</button>

</div>
