<div class="container">
  <div class="row" data-controller="audio">
    <button data-action="click->audio#startTransport">Start</button>
    <h1><%= @avatar.name %></h1>
    <p><%= @avatar.description %></p>
    <% 16.times do |i| %>
      <div class="col-md-3 text-center">
        <%= image_tag @avatar.image_url, { class: "img-fluid rounded-circle avatar-image", alt: @avatar.name, data: { action: "click->audio#play#{i + 1}", audio_file: "audio_file_#{i + 1}.mp3" } } %>
      </div>
    <% end %>

